<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.studyhuang.cook.dao.MaterialMapper" >
  <resultMap id="BaseResultMap" type="cn.studyhuang.cook.pojo.Material" >
    <id column="material_id" property="materialId" jdbcType="BIGINT" />
    <result column="material_name" property="materialName" jdbcType="VARCHAR" />
    <result column="material_weight" property="materialWeight" jdbcType="VARCHAR" />
    <result column="menu_id" property="menuId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    material_id, material_name, material_weight, menu_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.studyhuang.cook.pojo.MaterialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="page != null">
      limit #{page},#{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from material
    where material_id = #{materialId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from material
    where material_id = #{materialId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.studyhuang.cook.pojo.MaterialExample" >
    delete from material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.studyhuang.cook.pojo.Material" >
    insert into material (material_id, material_name, material_weight, 
      menu_id)
    values (#{materialId,jdbcType=BIGINT}, #{materialName,jdbcType=VARCHAR}, #{materialWeight,jdbcType=VARCHAR}, 
      #{menuId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.studyhuang.cook.pojo.Material" >
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="materialName != null" >
        material_name,
      </if>
      <if test="materialWeight != null" >
        material_weight,
      </if>
      <if test="menuId != null" >
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        #{materialId,jdbcType=BIGINT},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialWeight != null" >
        #{materialWeight,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.studyhuang.cook.pojo.MaterialExample" resultType="java.lang.Integer" >
    select count(*) from material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update material
    <set >
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=BIGINT},
      </if>
      <if test="record.materialName != null" >
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialWeight != null" >
        material_weight = #{record.materialWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.menuId != null" >
        menu_id = #{record.menuId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update material
    set material_id = #{record.materialId,jdbcType=BIGINT},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_weight = #{record.materialWeight,jdbcType=VARCHAR},
      menu_id = #{record.menuId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.studyhuang.cook.pojo.Material" >
    update material
    <set >
      <if test="materialName != null" >
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialWeight != null" >
        material_weight = #{materialWeight,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        menu_id = #{menuId,jdbcType=BIGINT},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.studyhuang.cook.pojo.Material" >
    update material
    set material_name = #{materialName,jdbcType=VARCHAR},
      material_weight = #{materialWeight,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=BIGINT}
    where material_id = #{materialId,jdbcType=BIGINT}
  </update>
</mapper>